input-transition {
    transition: all 0.3s ease-in-out;
}


/*   color code -- #4682B4 */

.form-control:focus {
    border-color: #4682B4;
    /* box-shadow: 0 0 10px #4682B4; */
    box-shadow: 0 0 0 0.2rem rgba(27, 116, 205, 0.25);
}

.form-control {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #4682B4;
}

.form-control:focus::placeholder {
    color: #4682B4;
    /* Change placeholder text color on focus */
}

#car-model:focus {
    color: #4682B4;
}

.selections {
    background-color: #d1e3f3;
}

.form-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    /* White background with opacity for the form */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 50px auto;
}

.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: "logos.JPG" no-repeat center center;
    background-size: cover;
    opacity: 0.3;
    /* Adjust opacity to make the image more or less faded */
    z-index: -1;
    /* Ensure the image is behind the form content */
}

.container {
    position: relative;
}